    /*
    Flaticon icon font: Flaticon
    Creation date: 13/09/2018 01:38
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-messenger:before { content: "\f100"; }
.flaticon-location-pin:before { content: "\f101"; }
.flaticon-flower:before { content: "\f102"; }
.flaticon-spring-1:before { content: "\f103"; }
.flaticon-spring-2:before { content: "\f104"; }
.flaticon-giftbox:before { content: "\f105"; }
.flaticon-gift:before { content: "\f106"; }
.flaticon-gift-1:before { content: "\f107"; }
.flaticon-bouquet:before { content: "\f108"; }
.flaticon-location-pin-1:before { content: "\f109"; }
.flaticon-maps-and-flags:before { content: "\f10a"; }
.flaticon-marker:before { content: "\f10b"; }
.flaticon-messenger-1:before { content: "\f10c"; }
.flaticon-messenger-2:before { content: "\f10d"; }
.flaticon-gift-2:before { content: "\f10e"; }
.flaticon-give-a-gift:before { content: "\f10f"; }
.flaticon-gift-box:before { content: "\f110"; }
.flaticon-plant:before { content: "\f111"; }
.flaticon-plant-on-a-hand:before { content: "\f112"; }
.flaticon-planting:before { content: "\f113"; }
.flaticon-plant-1:before { content: "\f114"; }
    
    $font-Flaticon-messenger: "\f100";
    $font-Flaticon-location-pin: "\f101";
    $font-Flaticon-flower: "\f102";
    $font-Flaticon-spring-1: "\f103";
    $font-Flaticon-spring-2: "\f104";
    $font-Flaticon-giftbox: "\f105";
    $font-Flaticon-gift: "\f106";
    $font-Flaticon-gift-1: "\f107";
    $font-Flaticon-bouquet: "\f108";
    $font-Flaticon-location-pin-1: "\f109";
    $font-Flaticon-maps-and-flags: "\f10a";
    $font-Flaticon-marker: "\f10b";
    $font-Flaticon-messenger-1: "\f10c";
    $font-Flaticon-messenger-2: "\f10d";
    $font-Flaticon-gift-2: "\f10e";
    $font-Flaticon-give-a-gift: "\f10f";
    $font-Flaticon-gift-box: "\f110";
    $font-Flaticon-plant: "\f111";
    $font-Flaticon-plant-on-a-hand: "\f112";
    $font-Flaticon-planting: "\f113";
    $font-Flaticon-plant-1: "\f114";